{% block subject %}
🎉 ¡Bienvenido a Amautapp! Configura tu contraseña
{% endblock subject %}

{% block text_body %}
Hola {{ user.first_name }},

¡Estamos emocionados de darle la bienvenida a **Amautapp**! 🎉

Aquí están sus datos de acceso:
👤 **Usuario:** `{{ user.username }}`

🔗 Para completar la configuración de su cuenta, por favor establezca su contraseña haciendo clic en el siguiente
enlace:

👉 [Configurar mi contraseña]({{ frontend_url }}/new-password/{{ uid }}/{{ token }}/)

Si no realizó esta solicitud, puede ignorar este mensaje. Su cuenta seguirá segura.

💡 Si tiene alguna duda, no dude en contactarnos.

Atentamente,
**Equipo de Amautapp** 🚀
{% endblock text_body %}